/* ------------------ */
// css props
/* ------------------ */
:root {
  --primary-color: #e7796a;
  --second-color: #ffff8c;
  --danger-color: #ff3333;
}

/* ------------------ */
// bulma
/* ------------------ */

@import 'bulma/sass/utilities/_all.sass';

// // Set your colors
$primary: #b82b19;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);

// // Lists and maps
// $custom-colors: null !default;
// $custom-shades: null !default;

// // Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
  (
    'white': (
      $white,
      $black,
    ),
    'black': (
      $black,
      $white,
    ),
    'light': (
      $light,
      $light-invert,
    ),
    'dark': (
      $dark,
      $dark-invert,
    ),
    'primary': (
      $primary,
      $primary-invert,
      $primary-light,
      $primary-dark,
    ),
    'link': (
      $link,
      $link-invert,
      $link-light,
      $link-dark,
    ),
    'info': (
      $info,
      $info-invert,
      $info-light,
      $info-dark,
    ),
    'success': (
      $success,
      $success-invert,
      $success-light,
      $success-dark,
    ),
    'warning': (
      $warning,
      $warning-invert,
      $warning-light,
      $warning-dark,
    ),
    'danger': (
      $danger,
      $danger-invert,
      $danger-light,
      $danger-dark,
    ),
  ),
  $custom-colors
);

// // Links
// $link: $primary;
// $link-invert: $primary-invert;
// $link-focus-border: $primary;

$modal-background-background-color: rgba(white, 0.8);
.modal-background + .animation-content {
  z-index: 0;
}

@import 'bulma/bulma';
// @import '@oruga-ui/theme-bulma/dist/scss/bulma';
@import './_components.scss';

/* ------------------ */
// form
/* ------------------ */
.input,
.textarea {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.input:focus,
.textarea:focus,
.button:focus {
  outline: none !important;
  outline-width: 0 !important;
  border-color: #ddd;
  box-shadow: none !important;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.toast-notification {
  padding: 10px 20px;
  &.is-top {
    position: fixed;
    top: 10px;
    left: 50%;
    min-width: 300px;
    transform: translateX(-50%);
    box-shadow: 0 0 1px 1px rgba(white, 0.6);
  }
}
