/* ------------------ */
// css props
/* ------------------ */
:root {
  --primary-color: #e7796a;
  --second-color: #ffff8c;
  --danger-color: #ff3333;
  // --input-bg-color: rgba(#e7796a, 0.1);
  --sack-space: 4px;
}

/* ------------------ */
// bulma
/* ------------------ */

@import 'bulma/sass/utilities/_all.sass';

// // Set your colors
$primary: #b82b19;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);

$success: #7fad82;
$primary-light: findLightColor($success);
$primary-dark: findDarkColor($success);
$primary-invert: findColorInvert($success);

// // Lists and maps
// $custom-colors: null !default;
// $custom-shades: null !default;

// // Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
  (
    'white': (
      $white,
      $black,
    ),
    'black': (
      $black,
      $white,
    ),
    'light': (
      $light,
      $light-invert,
    ),
    'dark': (
      $dark,
      $dark-invert,
    ),
    'primary': (
      $primary,
      $primary-invert,
      $primary-light,
      $primary-dark,
    ),
    'link': (
      $link,
      $link-invert,
      $link-light,
      $link-dark,
    ),
    'info': (
      $info,
      $info-invert,
      $info-light,
      $info-dark,
    ),
    'success': (
      $success,
      $success-invert,
      $success-light,
      $success-dark,
    ),
    'warning': (
      $warning,
      $warning-invert,
      $warning-light,
      $warning-dark,
    ),
    'danger': (
      $danger,
      $danger-invert,
      $danger-light,
      $danger-dark,
    ),
  ),
  $custom-colors
);

// // Links
// $link: $primary;
// $link-invert: $primary-invert;
// $link-focus-border: $primary;

$modal-background-background-color: rgba(white, 0.8);
.modal-background + .animation-content {
  z-index: 0;
}

@import 'bulma/bulma';

/* ------------------ */
// form
/* ------------------ */
.input,
.textarea {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.input:focus,
.textarea:focus,
.button:focus {
  outline: none !important;
  outline-width: 0 !important;
  border-color: #ddd;
  box-shadow: none !important;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.toast-notification {
  padding: 10px 20px;
  z-index: 20;
  box-shadow: 0 0 1px 1px rgba(white, 0.6);
  min-width: 300px;
  &.is-top {
    position: fixed;
    top: 10px;
    left: 50%;

    transform: translateX(-50%);
  }
  &.is-top-left {
    position: fixed;
    top: 20px;
    left: 20px;
  }
}

/* ------------------ */
// button
/* ------------------ */
.iconbutton {
  display: inline-block;
  position: relative;

  &::after {
    content: '';
    display: block;
    background-color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  & > i {
    position: relative;
    z-index: 1;
  }
}

@import './_components.scss';
// @import '@oruga-ui/theme-bulma/dist/scss/bulma';

html {
  background-color: #eee;
  background-image: url('/img/concrete-wall.png');
}
